<!--INICIO DO CARRINHO-->


<div class="box box-solid">
    <div class="box-header">
      <i class="fa fa-shopping-cart"></i>

      <h3 class="box-title">Carrinho</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

      <!--div *ngIf="!items().length">
        <p class="text-center">
          Seu carrinho está vazio!
        </p>
      </div>
-->
      <!--div *ngIf="items().length">
        <div class="table-responsive">-->
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">Quantidade</th>
                      <th>Produto</th>
                      <th>Valor</th>
                      <th class="text-right">Subtotal</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{itemCatalogo?.quantity}}</td> 
                      <td>{{itemCatalogo?.name}}</td>                         
                      <td>{{itemCatalogo?.vlrVenda | currency:'BRL': true}}</td>
                      <td>{{itemCatalogo?.vlrVenda | currency:'BRL': true}}</td>
                                                                         
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>

        <div class="box-footer">
          <ds-pagamento></ds-pagamento>
        </div>
      </div>
    <!--/div>
</div>-->

<!-- FIM DO CARRINHO -->