<a [routerLink]="['/catalogo', itemCatalogo.id]">

  <div class="place-info-box">
    <div class="place-info-box-content">
      <span class="place-info-box-icon" style="width: 100%"><img [src]="itemCatalogo.imagePath" /></span>

      <span class="place-info-box-text">{{itemCatalogo.name}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i>{{itemCatalogo.rating}}</span>
      <span class="place-info-box-detail">{{itemCatalogo.category}}</span>
      <span class="place-info-box-detail">{{itemCatalogo .deliveryEstimate}}</span>,
    </div>

    <a [routerLink]="['/carrinho-compra']" class="btn btn-success">
      <i class="fa fa-plus" ></i>Adicionar ao Carrinho<i class=" fa fa-shopping-cart "></i>
    </a>
    <!-- /.info-box-content -->
  </div>
</a>